.profile__avatar-container {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .profile__avatar-container {
    margin-bottom: 27px;
  }
}