.popup__submit_inactive {
    background-color: transparent;
    border: 1px #000 solid;
    color: #000;
    opacity: .2;
    cursor: not-allowed;
}

.popup__submit_inactive:hover {
    opacity: .2;
}