@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/clickable/clickable.css);


/*HEADER*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__logo/header__logo.css);
/*HEADER*/

/*PROFILE*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
/*PROFILE*/

/*CARDS*/
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__list/cards__list.css);
/*CARDS*/

/*CARD*/
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__trash-button/card__trash-button.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__like-wrapper/card__like-wrapper.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like-number/card__like-number.css);
/*CARD*/

/*FOOTER*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/*FOOTER*/

/*POP-UP*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/profile-name-error/profile-name-error.css);
@import url(./blocks/profile-email-error/profile-email-error.css);
@import url(./blocks/card-name-error/card-name-error.css);
@import url(./blocks/card-url-error/card-url-error.css);
@import url(./blocks/avatar-link-error/avatar-link-error.css);
@import url(./blocks/profile-name-error/_active/profile-name-error_active.css);
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
/*POP-UP*/

/*POPUP-DELETE*/
@import url(./blocks/popup-delete/__container/popup-delete__container.css);
@import url(./blocks/popup-delete/__text/popup-delete__text.css);
@import url(./blocks/popup-delete/__submit/popup-delete__submit.css);
/*POPUP-DELETE*/

@import url(./blocks/popup-edit-avatar/__container/popup-edit-avatar__container.css);


/*POPUP IMAGE*/
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__close-button/popup-image__close-button.css);
@import url(./blocks/popup-image/__close-button/_inactive/popup-image__close-button-inactive.css);
@import url(./blocks/popup-image/__image/popup-image__image.css);
@import url(./blocks/popup-image/__picture-set/popup-image__picture-set.css);
@import url(./blocks/popup-image/__caption/popup-image__caption.css);
@import url(./blocks/popup-image/_opened/popup-image_opened.css);
/*POPUP IMAGE*/

@import url(./blocks/card/__like/_ative/like_active.css);
@import url(./blocks/popup/_opened/popup_opened.css);