.header {
  width: 100%;
  min-height: 74px;
  padding: 0 27px;
  padding-top: 45px;
  border-bottom: rgba(84, 84, 84, .7) 1px solid;
}

@media screen and (max-width: 426px) {
  .header {
    padding-top: 28px;
    min-height: 56px;
  }  
}